<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoodle</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    <div id="login-card">
        <h1>Skapa konto:</h1>
        <form action="/create_account" method="POST">
            <input type="text" name="username" id="username" placeholder="Användarnamn" required>

            <input type="password"  name="password" id="password" placeholder="Lösenord" required>

            <button type="submit">Skapa konto</button>
        </form>
    </div>
    
</body>
</html>