<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ändra</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    
    
    <form action="/todos/<%= @todo["id"] %>/update" method = "post">
        <h1>Ändra:</h1>

        <input type="text" value="<%= @todo["name"] %>" name="name">
        <input type="text" value="<%= @todo["description"] %>" name="description">
        <button type="submit">Spara</button>
    </form>
</body>
</html>